doctype html
html
  head
      title= 'Chat up'
      link(rel='stylesheet', href='/style.css')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
      script(src='/jquery.js')
      script(src='/socket.io/socket.io.js')
      block head

  body
    h4 Chat Up and Enjoy
    block content

