extends layout

block append head
  script(src='/chat.js')
  include chat_pane

block append content
  .container
    .jumbotron
      h1 Chat up and Enjoy 
      p Get ready for a chat

      #username_step
        input.form-control#username(placeholder='Username', style="height:50px; width:300px")
        br
        .error
        p.btn.btn-primary.btn-lg#set_username Join Now
      #group_step
        h4 Join a group

        #rooms
          if(roomNames.length == 0)
            p.alert No rooms availble, why not create one? 
          else
            each roomName in roomNames
              a.room(data=roomName) #{roomName} 
        br
        h4 Start your own

        input.form-control#new_room_name(placeholder='GroupName', style="height:50px; width:300px")
        br
        .error
        p.btn.btn-primary.btn-lg#create_room Create Group



      #chat_step.span10
        ul.nav.nav-tabs#navChats
          li.active: a (room)

        +chat_pane()
