extends layout

block append head
  script(src='/chat.js')
  include chat_pane

block append content
  .container
    .jumbotron
      h1 Chat up and Enjoy 
      p Get ready for a lovely chat

      #username_step
        input.form-control#username(placeholder='Username', style="height:50px; width:300px")
        br
        p.btn.btn-primary.btn-lg#set_username Join Now
        .error
      #group_step
        h4 Create a group
        input.form-control#new_room_name(placeholder='GroupName', style="height:50px; width:300px")
        br
        p.btn.btn-primary.btn-lg#create_room Create Group

        h4 Choose a group
        if(roomNames.length == 0)
          p.alert No rooms availble, why not create one? 
        else
          span#rooms
            each roomName in roomNames
              a.room(data=roomName) #{roomName} 
                span.label.badge hot
              br


      #chat_step.span10
        ul.nav.nav-tabs#navChats
          li.active: a (room)

        +chat_pane()
