.thread{
  height: 300px;
  margin: 0 0 20px 0;
  border: solid 1px #999;
  overflow-y: scroll;
}

body{
  background-color:#cccccc;
  min-height: 100%;
}

.user_list{
  border: solid 1px #999;
  overflow-y: scroll;
}

.error {
  color: red;
  font-size: 11px;
}


