extends layout

block append head
  //script(src='/page.js')
  script(src='/chat.js')

block append content
  label(for='username') Username
  input#username
  input.button#set_username(type='button', value='Set Username')
  br
  h4 Create a group
  input#new_room_name
  input.button#create_room(type='button', value='Create Group')

  h4 Choose a group
  span#rooms
    each roomName in roomNames
      input.button.room(type='button', value=roomName)
  br

  #content.thread                           
  .controls                                 
    input#field(style='width:350px;')       
    input#send(type='button', value='send') 
