extends layout

block append head
  //script(src='/page.js')
  script(src='/chat.js')

block append content
  #username_step
    label(for='username') Username
    input#username
    input.button#set_username(type='button', value='Set Username')
    .error
  #group_step
    h4 Create a group
    input#new_room_name
    input.button#create_room(type='button', value='Create Group')

    h4 Choose a group
    span#rooms
      each roomName in roomNames
        input.button.room(type='button', value=roomName)

  #chat_step.span10
    .span6
      #content.thread.
      .controls
        input#field()
        input#send(type='button', value='send')

    #room_users.user_list.span2
      | People:
      #users

