extends layout

block append head
  script(src='/chat.js')

block append body 
  #content.thread
  .controls
    | Name:
    input#name(style='width:350px;')
    br
    input#field(style='width:350px;')
    input#send(type='button', value='send')
